.table-scroll {
    height: 100%;
    overflow: auto }

table {
    width: 100%;
}

thead, tbody, tr, td, th { display: block; }

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

thead th {
    height: 30px;
    width: 100%;
    /*text-align: left;*/
}

tbody {
    height: 100%;
    overflow-y: auto;
}

thead {
    /* fallback */
}


tbody td, thead th {
    width: 16%;
    float: left;
}